@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HEX */
  --space-cadet: #1f2041ff;
  --english-violet: #4b3f72ff;
  --viridian: #417b5aff;
  --bone: #d0cebaff;
  --champagne-pink: #e9d2c0ff;
}

body {
  color: var(--champagne-pink);
  background: var(--space-cadet);
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.svg-draw path {
  animation: draw 2s linear forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: [Length of the path];
  }
  to {
    stroke-dashoffset: 0;
  }
}


.custom-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
