@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* CSS HEX */ 
  --space-cadet: #1f2041ff; 
  --english-violet: #4b3f72ff; 
  --viridian: #417b5aff; 
  --bone: #d0cebaff; 
  --champagne-pink: #e9d2c0ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--champagne-pink);
  background: var(--space-cadet);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-bg {
  background-image: url('/backgroundVector.png');
  background-size: 150%EX;
  background-position: center;
}
