@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #0D0B10;
}
.test {
  background: linear-gradient(to bottom, 
                            rgba(13, 11, 16, 1) 0%, 
                            rgba(13, 11, 16, 1) 15%, 
                            rgba(13, 11, 16, 0) 35%, 
                            rgba(13, 11, 16, 0) 65%, 
                            rgba(13, 11, 16, 1) 85%, 
                            rgba(13, 11, 16, 1) 100%);

  z-index: -1;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px;
  padding: 20px; */
}

@keyframes drawIn {
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes panelOnHover {
  0% { 
    transform: scale(1);
  }
  100% {
    transform: scale(1.025);
  }
}
.panel:hover {
  animation: panelOnHover .25s ease-in;
  transform: scale(1.025);
}